<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contacts</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

  <header>
    Новостной сайт Контакти
  </header>

  <section class="main-section">
    <div class="news">
      <h1>Контакты</h1>
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail">
        </div>
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">Имя</label>
          <input type="text" class="form-control" id="exampleInputName">
        </div>
        <div class="mb-3">
          <label for="exampleInputMessage" class="form-label">Сообщение</label>
          <textarea rows="10" class="form-control" id="exampleInputMessage"> </textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInputCity" class="form-label">Город</label>
          <input type="text" class="form-control" id="exampleInputCity">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Я со всем согласен</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="right-bar">
      <img src="../public/pictures/node_img.jpg" alt="node_img">
      <h3>Right bar div</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore distinctio ab aperiam tempore explicabo, cumque modi fugiat doloribus aut animi.</p>
      <button>Перейти на сайт</button>
    </div>

  </section>

</body>
</html>
