<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <header>
    Новостной сайт Контакти
  </header>

  <section class="main-section">

    <div class="news">
      <img src="../public/pictures/pc.jpg" alt="img_1">
      <h3>Статья про компьютеры</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem modi ad saepe magni omnis ipsa, laboriosam architecto hic iure reiciendis perferendis consequatur eos veritatis, odio, facilis enim voluptates assumenda accusamus.

      <img src="../public/pictures/pc2.jpeg" alt="img_2">
      <h3>Статья про компьютеры</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem modi ad saepe magni omnis ipsa, laboriosam architecto hic iure reiciendis perferendis consequatur eos veritatis, odio, facilis enim voluptates assumenda accusamus.
    </div>
    <div class="right-bar">
      <img src="../public/pictures/node_img.jpg" alt="node_img">
      <h3>Right bar div</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore distinctio ab aperiam tempore explicabo, cumque modi fugiat doloribus aut animi.</p>
      <button>Перейти на сайт</button>
    </div>

  </section>

  <footer>
    <span>All rights reserved</span>
  </footer>
</body>
</html>
