<div class="col-md-4 right-bar">
  <img src="../public/pictures/node_img.jpg" alt="node_img">
  <h3>Изучение Node.js</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore distinctio ab aperiam tempore explicabo, cumque modi fugiat doloribus aut animi.</p>
  <button class="btn btn-danger" style="cursor:pointer">Перейти на сайт</button>
</div>
